<div class="flex items-center justify-start px-2 z-20">
  <button id="filter-button"
    class="relative peer px-1 py-1 rounded-md bg-gray-500 hover:bg-gray-800 focus:bg-gray-800 active:bg-gray-700 transition duration-700">
    <span class="text-white flex items-center justify-between *:mx-1">
      <p class="text-lg">Filtros</p>
      <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="#FFFFFF"
          d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
      </svg>
    </span>
  </button>

  <div id="filter-menu"
    class="hidden z-30 fixed top-0 -left-96 lg:left-0 h-screen w-9/12 lg:w-72 bg-white shadow-2xl peer-focus:left-0 transition ease-out delay-150 duration-500">
    <nav role="navigation" class="p-6">
      <div class="relative mt-5">
        <h2 class="text-xl font-bold">Filtros</h2>
      </div>

      <div class="mt-2 -mx-4 relative overflow-y-scroll overflow-x-hidden h-[85vh]">
        <ul class="*:pr-2">

          <!--Por universidades-->
          <li>
            <div class="flex items-center justify-between px-3 text-gray-700 font-bold mb-2">
              <div>
                <input id="input-universidad" class="mr-2" type="checkbox" onclick="checkAll(this, 'universidad')">
                <label for="input-universidad" class="text-lg leading-5 text-black">
                  Por universidades
                </label>
              </div>

              <button onclick="showMenu1(true, 'drop1', 'filter1')"
                class="focus:outline-none flex items-center py-2 px-2 bg-gray-300 hover:bg-gray-500 rounded-md delay-50 duration-500">
                <svg id="drop1" class="transform" width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512">
                  <path
                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
              </button>
            </div>

            <fieldset id="filter1" class="mb-1 *:mb-2 *:mx-6">
              {% for uni in universities %}
              <div class="flex items-center">
                <input id="university-{{ forloop.counter0 }}" type="checkbox" value="{{ uni.0 }}"
                  data-filter="universidad" data-key="{{ uni.1 }}"
                  class="filter-checkbox border-gray-300 hover:bg-gray-500">
                <label for="university-{{ forloop.counter0 }}" class="text-sm text-gray-900 ml-2 block">
                  {{ uni.1 }}
                </label>
              </div>
              {% endfor %}
            </fieldset>
          </li>

          <!--Por domicilio-->
          <li>
            <div class="flex items-center justify-between px-3 text-gray-700 font-bold mb-2">
              <div>
                <input id="input-domicilio" class="mr-2" type="checkbox" onclick="checkAll(this, 'domicilio')">
                <label class="text-lg leading-5 text-black" for="input-domicilio">
                  Por domicilio
                </label>
              </div>

              <button onclick="showMenu1(true, 'drop2', 'filter2')"
                class="focus:outline-none flex items-center py-2 px-2 bg-gray-300 hover:bg-gray-500 rounded-md delay-50 duration-500">
                <svg id="drop2" class="transform" width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512">
                  <path
                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
              </button>
            </div>

            <fieldset id="filter2" class="mb-1 *:mb-2 *:mx-6">
              {% for dom in domicilio %}
              <div class="flex items-center">
                <input id="domicilio-{{forloop.counter0}}" type="checkbox" value="{{ dom.0 }}" data-filter="domicilio"
                  data-key="{{ dom.1 }}" class="filter-checkbox border-gray-300 hover:bg-gray-500">
                <label for="domicilio-{{forloop.counter0}}" class="text-sm text-gray-900 ml-2 block">
                  {{ dom.1 }}
                </label>
              </div>
              {% endfor %}
            </fieldset>
          </li>

          <!--Por inventario-->
          <li>
            <div class="flex items-center justify-between px-3 text-gray-700 font-bold mb-2">
              <div>
                <input id="input-inventario" class="mr-2" type="checkbox" onclick="checkAll(this, 'inventario')">
                <label class="text-lg leading-5 text-black" for="input-inventario">
                  Por inventario
                </label>
              </div>

              <button onclick="showMenu1(true, 'drop3', 'filter3')"
                class="focus:outline-none flex items-center py-2 px-2 bg-gray-300 hover:bg-gray-500 rounded-md delay-50 duration-500">
                <svg id="drop3" class="transform" width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512">
                  <path
                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
              </button>
            </div>

            <fieldset id="filter3" class="mb-1 *:mb-2 *:mx-6">
              {% for inv in inventario %}
              <div class="flex items-center">
                <input id="inventario-{{forloop.counter0}}" type="checkbox" value="{{ inv.0 }}" data-filter="inventario"
                  data-key="{{ inv.1 }}" class="filter-checkbox border-gray-300 hover:bg-gray-500">
                <label for="inventario-{{forloop.counter0}}" class="text-sm text-gray-900 ml-2 block">
                  {{ inv.1 }}
                </label>
              </div>
              {% endfor %}
            </fieldset>
          </li>

          <!--Por precio-->
          <li>
            <div class="flex items-center justify-between px-3 text-gray-700 font-bold mb-2">
              <div>
                <input id="input-precio" class="filter-checkbox mr-2" type="checkbox" data-filter="precio">
                <label class="text-lg leading-5 text-black" for="input-precio">
                  Por precio
                </label>
              </div>
              <button onclick="showMenu1(true, 'drop4', 'filter4')"
                class="focus:outline-none flex items-center py-2 px-2 bg-gray-300 hover:bg-gray-500 rounded-md delay-50 duration-500">
                <svg id="drop4" class="transform" width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512">
                  <path
                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
              </button>
            </div>

            <style>
              input[type=range]::-webkit-slider-thumb {
                pointer-events: all;
                width: 12px;
                height: 12px;
                -webkit-appearance: none;
                /* @apply w-6 h-6 appearance-none pointer-events-auto; */
              }
            </style>
            <div id="filter4">
              <div class="flex justify-center items-center mx-6">
                <div id="slider" x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative max-w-xl w-full">
                  <div>
                    <input id="fromInput" type="range" step="5000" x-bind:min="min" x-bind:max="max"
                      x-on:input="mintrigger" x-model="minprice"
                      class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                    <input id="toInput" type="range" step="5000" x-bind:min="min" x-bind:max="max"
                      x-on:input="maxtrigger" x-model="maxprice"
                      class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                    <div class="relative z-10 h-2">

                      <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-400"></div>

                      <div class="absolute z-20 top-0 bottom-0 rounded-md bg-gray-600"
                        x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>

                      <div class="absolute z-30 w-4 h-4 top-0 left-0 bg-gray-600 rounded-full -mt-1 -ml-1"
                        x-bind:style="'left: '+minthumb+'%'"></div>

                      <div class="absolute z-30 w-4 h-4 top-0 right-0 bg-gray-600 rounded-full -mt-1 -mr-1"
                        x-bind:style="'right: '+maxthumb+'%'"></div>

                    </div>

                  </div>

                  <div class="flex justify-between items-center mt-2 mb-3">
                    <div>
                      <input id="precio_min" type="text" maxlength="12" x-on:input="mintrigger" x-model="minprice"
                        class="mx-2 border border-gray-200 rounded w-24 text-center text-xs">
                    </div>
                    <div>
                      <input id="precio_max" type="text" maxlength="12" x-on:input="maxtrigger" x-model="maxprice"
                        class="mx-2 border border-gray-200 rounded w-24 text-center text-xs">
                    </div>
                  </div>

                  <div class="flex items-center">
                    <input id="precio-1" type="checkbox" value="0" data-filter="precio1" data-key="5000"
                      class="filter-checkbox border-gray-300 hover:bg-gray-500">
                    <label for="precio-1" class="text-sm text-gray-900 ml-2 block">
                      $ 0 - $ 5,000
                    </label>
                  </div>

                  <div class="flex items-center">
                    <input id="precio-2" type="checkbox" value="10000" data-filter="precio2" data-key="30000"
                      class="filter-checkbox border-gray-300 hover:bg-gray-500">
                    <label for="precio-2" class="text-sm text-gray-900 ml-2 block">
                      $ 10,000 - $ 30,000
                    </label>
                  </div>

                  <div class="flex items-center">
                    <input id="precio-3" type="checkbox" value="50000" data-filter="precio3" data-key="100000"
                      class="filter-checkbox border-gray-300 hover:bg-gray-500">
                    <label for="precio-3" class="text-sm text-gray-900 ml-2 block">
                      $ 50,000 - $ 100,000
                    </label>
                  </div>

                  <div class="flex items-center">
                    <input id="precio-4" type="checkbox" value="200000" data-filter="precio4" data-key="500000"
                      class="filter-checkbox border-gray-300 hover:bg-gray-500">
                    <label for="precio-4" class="text-sm text-gray-900 ml-2 block">
                      $ 200,000 - $500,000
                    </label>
                  </div>

                  <div class="flex items-center">
                    <input id="precio-5" type="checkbox" value="1000000" data-filter="precio4" data-key="infinity"
                      class="filter-checkbox border-gray-300 hover:bg-gray-500">
                    <label for="precio-5" class="text-sm text-gray-900 ml-2 block">
                      $ 1,000,000+
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="flex justify-between items-center mb-5 mx-2 my-3">
          <button onclick="reset()"
            class="rounded-lg px-2 py-2 bg-gray-700 text-white hover:bg-gray-800 delay-100 duration-500">
            Reiniciar filtros
          </button>

          <button id="filtros" type="submit"
            class="rounded-lg px-2 py-2 bg-green-500 hover:bg-green-600 delay-100 duration-500">
            Filtrar
          </button>
        </div>
      </div>
    </nav>
  </div>

  <div class="flex ml-2">
    <div @click.away="openSort = false" class="relative" x-data="{ openSort: false,sortType:'Ordenar por' }">
      <button id="ordenar" @click="openSort = !openSort"
        class="text-white text-lg flex items-center justify-between px-2 py-1 rounded-md bg-gray-500 hover:bg-gray-800 focus:bg-gray-800 active:bg-gray-700 transition duration-700">
        <span id="order_by" x-text="sortType"></span>
        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': openSort, 'rotate-0': !openSort}"
          class="w-4 h-4  transition-transform duration-200 transform ">
          <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <div x-show="openSort" x-transition:enter="transition ease-out duration-100"
        x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-95" class="absolute z-50 w-full origin-top-right">
        <div class="bg-gray-500 rounded-md shadow-lg">
          <div class="flex flex-col *:text-white">
            <div data-order="1" @click="sortType='Precio (asc)',openSort=!openSort" x-show="sortType != 'Precio (asc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Precio
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
              </svg>
            </div>

            <div data-order="2" @click="sortType='Precio (desc)',openSort=!openSort"
              x-show="sortType != 'Precio (desc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Precio
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z" />
              </svg>
            </div>

            <div data-order="3" @click="sortType='Fecha de creación (asc)',openSort=!openSort"
              x-show="sortType != 'Fecha de creación (asc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Fecha de creación
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
              </svg>
            </div>

            <div data-order="4" @click="sortType='Fecha de creación (desc)',openSort=!openSort"
              x-show="sortType != 'Fecha de creación (desc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Fecha de creación
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z" />
              </svg>
            </div>

            <div data-order="5" @click="sortType='Calificación (asc)',openSort=!openSort"
              x-show="sortType != 'Calificación (asc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Calificación
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 128H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
              </svg>
            </div>

            <div data-order="6" @click="sortType='Calificación (desc)',openSort=!openSort"
              x-show="sortType != 'Calificación (desc)'"
              class="order_opcion flex items-center justify-between rounded-lg p-2 hover:bg-gray-700 hover:border-gray-700 cursor-pointer">
              <p class="font-semibold">
                Calificación
              </p>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="#FFFFFF"
                  d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Boton de menu de filtros-->
<script>
  const menuBoton = document.getElementById('filter-button');
  const menu = document.getElementById('filter-menu');
  let menuAbierto = true; // Set to true to open the dropdown by default, false to close it by default

  // Function to toggle the dropdown
  function abrirMenu() {
    menuAbierto = !menuAbierto;
    if (menuAbierto) {
      menu.classList.remove('hidden');
    } else {
      menu.classList.add('hidden');
    }
  }

  // Initialize the dropdown state
  abrirMenu();

  // Toggle the dropdown when the button is clicked
  menuBoton.addEventListener('click', abrirMenu);

  // Close the dropdown when clicking outside of it
  window.addEventListener('click', (event) => {
    if (!menuBoton.contains(event.target) && !menu.contains(event.target)) {
      menu.classList.add('hidden');
      menuBoton.classList.remove('hidden');
      menuAbierto = false;
    }
  });
</script>

<!--Checkbox de cada filtro-->
<script>
  const showMenu1 = (rotar, icon, menu) => {
    let icono = document.getElementById(icon);
    let filtro = document.getElementById(menu);
    if (rotar) {
      icono.classList.toggle("rotate-180");
      filtro.classList.toggle("hidden");
    }
  };

  function checkAll(parent, filter) {
    var children = document.querySelectorAll("input[data-filter=" + filter + "]");
    children.forEach((child) => {
      if (child !== parent) child.checked = parent.checked;
    })
  }

  function reset() {
    var boxes = document.querySelectorAll("input[type='checkbox']");
    for (var i = 0; i < boxes.length; i++) {
      boxes[i].checked = false;
    }
  }
</script>

<!--Rango de precios-->
<script>
  function getPrice() {
    let values = [];

    $('.price').each(function () {
      let text = $(this).text().replace(/,/g, '');
      values.push(parseInt(text, 10));
    });

    let limit = [Math.min(...values), Math.max(...values)];
    return limit;
  }

  function range() {
    let range = getPrice();
    return {
      minprice: range[0],
      maxprice: range[1],
      min: range[0] - 1000,
      max: range[1] + 1000,
      minthumb: 0,
      maxthumb: 0,

      mintrigger() {
        this.minprice = Math.min(this.minprice, this.maxprice - 500);
        this.minthumb = ((this.minprice - this.min) / (this.max - this.min)) * 100;
      },

      maxtrigger() {
        this.maxprice = Math.max(this.maxprice, this.minprice + 500);
        this.maxthumb = 100 - (((this.maxprice - this.min) / (this.max - this.min)) * 100);
      },
    }
  }
</script>

<!--Script para filtrar y ordenar-->
<script>
  $(document).ready(function () {
    let productos = [];

    function saved() {
      productos = [...$('.product').map(function() {
        return parseInt(this.dataset.id);
      }).get()];
    }

    saved();

    let categoria = $('#categorias').data("group");
    let subcategoria = $('#subcategorias').data("group");
    let tag = $('#tags').data("group");

    console.log(tag);

    $('#filtros').click(function (event) {
      event.preventDefault(); // Prevent form submission

      let universidad = [];
      let domicilio = [];
      let inventario = [];
      let price = [];

      $(".filter-checkbox:checked").each(function () {
        let filter_key = $(this).data("filter"); // universidad, domicilio, ...

        let value = $(this).val();
        if (filter_key == 'universidad') {
          universidad.push(value);
        }
        else if (filter_key == 'domicilio') {
          domicilio.push(value);
        }
        else if (filter_key == 'inventario') {
          inventario.push(value);
        }
        else if (filter_key == 'precio') {
          let min = parseInt($('#fromInput').val());
          let max = parseInt($('#toInput').val());

          price.push(min);
          price.push(max);
        }
        else {
          let min = parseInt(value);
          let max = -1;
          if ($(this).data("key") != 'infinity') {
            max = parseInt($(this).data("key"));
          }
          price.push(min);
          price.push(max);
        }
      });

      $.ajax({
        type: "GET",
        url: "{% url 'filter-product' %}",
        data: {
          'categoria': categoria,
          'subcategoria': subcategoria,
          'tag': tag,
          'universidad': universidad,
          'domicilio': domicilio,
          'inventario': inventario,
          'price': price
        },
        dataType: 'json',
        success: function (response) {
          $("#filtered-products").html(response.data);
          saved();
        },
      });
    });

    $('.order_opcion').click(function (event) {
      let actual = parseInt($(this).data("order"));
      let order = '';

      order = ['precio', '-precio', 'created_at', '-created_at', 'reviews__promedio', '-reviews__promedio'][actual - 1];

      $.ajax({
        type: "GET",
        url: "{% url 'order-product' %}",
        data: {
          'id': productos,
          'order': order,
        },
        dataType: 'json',
        success: function (response) {
          $("#filtered-products").html(response.data);
        },
      });
    });

    $('.tipoUniversity').click(function (event) {
      let universidad = [];
      universidad.push($(this).data("university"));

      let key = $(this).html().toString();

      let checkbox = $(".filter-checkbox[data-filter='universidad'][data-key='" + key + "']");

      checkbox.prop('checked', true);

      $.ajax({
        type: "GET",
        url: "{% url 'filter-product' %}",
        data: {
          'id': productos,
          'universidad': universidad,
        },
        dataType: 'json',
        success: function (response) {
          $("#filtered-products").html(response.data);
        },
      });
    });

  });
</script>

<!--Script para publicaciones guardadas-->
<script>

  $('#save_post').click(function (){
    
  });

</script>