{% extends 'core/base.html' %}

{% block title %}
  Publicaciones guardadas
{% endblock %}

{% block content %}
  <h1 class="text-3xl my-6">Publicaciones guardadas</h1>

  {% if saved|length %}
    {% for item in saved %}
      <div class="px-4 py-4 mb-2 bg-gray-300 flex items-center">
        <img class="w-48 h-48 object-cover rounded-md" src="{{ item.product.imagenes.url }}" alt="" />

        <div class="ml-4">
          <a href="{% url 'product_detail' item.product.categoria.slug item.product.subcategoria.slug item.product.slug %}"><h2 class="text-3xl hover:text-gray-700 hover:underline active:text-gray-900 mb-1">{{ item.product.titulo }}</h2></a>
          <b>Descripción:</b> {{ item.product.descripcion }}

          <br />

          <h3 class="text-md">
            <b>Ventas:</b>
            {% if item.product.inventario == 'LIMITADO' %}
              Limitadas
            {% else %}
              Sin limites
            {% endif %}
          </h3>

          <p class="text-gray-500 text-sm">
            Publicado hace {{ item.product.created_at|timesince }} por
            <a href="{% url 'vendor_detail' item.product.user.id %}"><b class="text-gray-800 font-semibold hover:text-gray-700 active:text-gray-900">{% firstof item.product.user.get_full_name item.product.user.username %}</b></a>
          </p>

          <a class="inline-block text-black px-4 py-4 bg-gray-500 rounded-full hover:bg-gray-700 hover:fill-red-500 hover:text-red-500 mt-3 ml-2" href="{% url 'remove_from_saved' item.product.id %}">
            <div class="flex items-center justify-between">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>Quitar de guardados
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="mt-4 py-4 px-8 text-xl font-bold">No tienes ninguna publicación guardada ...</p>
  {% endif %}
{% endblock %}
