{% extends 'core/base.html' %}

{% block title %}
  {{ tag }}
{% endblock %}

{% block content %}
<p class="ml-3 mb-2 text-gray-600 font-bold">
  <a class="hover:text-gray-700 hover:underline active:text-gray-900" href="/">UniMarket</a>
  /
  {{ tag }}
</p>

  <h1 class="one_category text-2xl ml-3 mb-2"><b>Tag:</b> #{{ tag }}</h1>

  {% include 'core/filters.html' with request=request products=products universities=universities domicilio=domicilio inventario=inventario only%}

  {% include 'posts/partials/products.html' with request=request products=products only %}
{% endblock %}